{{#if recipes}}
<div class="container mt-4">
    <div class="row d-flex align-items-strech">
        {{#each recipes}}
        <div class="col-md-4 row-md-4">
            <div class="card">
                <img src="\assets\recipe-images\\{{recipe_image}}" class="card-img-top" alt="{{recipe_name}}">
                <div class="card-body">
                    <h5 class="card-title">{{recipe_name}}</h5>
                    <p class="card-text">{{description}}</p>
                    <a id="recipeBtn"  href="/recipe/{{id}}" class="btn btn-primary">View Recipe</a>
                    {{!-- <button id="recipeBtn" data-recipe-id="{{id}}" class="w-100 btn btn-lg btn-primary">View Recipe</button> --}}
                    {{!-- <a href="/recipe" class="btn btn-primary">View Recipe</a> --}}
                </div>
            </div>
            <div class="mb-4"></div>
        </div>
        {{/each}}
    </div>
</div>
{{else}}
<div class="alert alert-info">
    <h3>No recipes found</h3>
    <p>There are no recipes to display. Please check back later.</p>
</div>
{{/if}}

<script src="./js/recipe.js"></script>
